clear#cls & baa pwd#Clear the Screen
ls#dir /b $1#Bare directiory listing
restart#shutdown /r#Restarts Computer 
down#shutdown /s#shuts down the computer 
edit#notepad $1#Edit in notepad 
qq#exit /b#Exits the cmd 
back#popd#Shortcut to godir -back
vi#nano $1#Edit in CMD
lsd#dir /b /a:d#Just List the Dirctories
gd#godir $1 $2 $3 $4#Alias for Godir 
tv#godir tv#Alias to Godir tv 
movies#godir movies#Alias to Godir movies 
web#"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" %1#Launch a web page from the CMD line 
books#godir books#Goto Books Folder (may req ext storage)
tunes#godir tunes#Goto Music Folder (may req ext storage)
cli#godir cli#Goto cli_tools 
man#$1 /?#Man Page 
httpd#start shttpS.py#Quick n Dirty HTTP Server
code#"C:\Program Files (x86)\Notepad++\notepad++.exe"#Open Notepad++ 
qdserv#start python -m http.server 8081#A quick n dirty Webserver rooted in the current directiory
yt-a#youtube-dl --extract-audio --audio-format mp3 $1#Downloads a single MP3 from YouTube.com 
yt-v#youtube-dl $1#Download single video from youtube 
llist#alias -l#list all istallsed Aliases 
cal#cal.ahk#Display a calander GUI
pwd#echo %cd%#Print Working Directory  
New#start cmd /k a.bat#Opens a new terminal window with Aliases set 
Up#cd..#Goes up one level in directory tree.  Same as CD.. 
exp#start $1 .#Opens Explorer in current or specified directory 
Home#pushd C:\Users\Paul#Go to Home Directory 
vlc#"C:\Program Files (x86)\VideoLAN\VLC\vlc.exe" $1#VLC Media Player 
cal.ahk #ycal#Displays calander 
ld#dir /b /a:d#List Directories 
backup#backup.py#Performs a backup of specified directories 
